
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    text-decoration:none;
    list-style: none;
}
html,body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
body{
    max-width: 100%;
    height: 100vh;
}
@keyframes body {
    0%{
    position: relative;
    top: -100%;
    }
    50%{
        top: 0%;
    }
    100%{
        top: 0%;
    }
}

nav{
   background-color:#012a4a ;
    height: 80px;
    width: 100%;
    z-index: 1;
    position: fixed;
  
}
 .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float:right;
    margin-right: 0 5px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}
.active{
    background-color: orangered;
    text-decoration: none;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: black;
    background:orangered;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
    margin-right: 40px;
 
}
#check{
    display: none;
}
@media  (max-width:1200px){
    label.logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size: 12px;
        text-decoration: none;
    }
}
@media (max-width:1020px){
   .checkbtn{
       display: block;
   }
   ul{
      position: fixed;
       width: 100%;
       height: 100vh;
       background: #2c3e50;
       top: 60px;
       left: -100%;
       text-align: center;
       transition: all 0.5s;
       z-index: 1;
   }
   nav ul li{
       display: block;
       margin: 50px 0;
       line-height: 30px
   }
   nav ul li a{
       font-size: 17px;
       text-decoration: none;
   }
   a:hover,a.active{
background: none;
color: #0082e6;
   }
   #check:checked ~ ul{
       left: 0;
   }      
  
}
@media (max-width:340px){
    label.logo{
        font-size: 20px;
    }
}
.main{
background: url("https://cdn.pixabay.com/photo/2016/05/15/17/13/fountain-pen-1393979_960_720.jpg") no-repeat;
background-size:cover;
height: calc(100vh);
background-attachment:fixed;
margin-top: -20px;
display: flex;
justify-content:center;
align-items: center;
background-position: center;
}
.main .text{
    width: 100%;
    text-align: center;
    color: white;
    animation: body 3s ease-in-out;
}
.main .text h1{
    font-size: 10rem;
    font-weight: 900;
    transform: scale(1);
}
@media screen and (max-width:758px) {
    .main .text h1{
        font-size: 5rem;
    }
}
.container2{
  width: 100%;
 
}
.container2 .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: body 0.5s ease-in-out;
    padding-top: 50px;
}
.headings{
    font-size: 3em;
    text-align: center;
    background-color: orangered;
width: 250px;
position: relative;
left: 50%;
right: 50%;
transform: translate(-50%);
color: white;

}
.headings::before{
    content: "";
    border: 10px solid black;
    position: relative;

}

@media screen and (max-width:460px) {
    .container2 h1{
        font-size: 2em;
        color: white;
        width: 180px;
    }
}
.cards .card{
    margin: 40px;
    cursor: pointer;
}
.cards img{
    height: 200px;
    width: 100%;
    }
.cards .card:hover .image{
    transform: scale(1.05);
    width: 100%;
    overflow: hidden;
}
.card .details{
    display: block;
   
}
.card .details .time h2{
    font-size: 1.3em;
   letter-spacing: 1.5px;
}
@media screen and (max-width:978px) {
    .cards img{
        width: 350px;
    }
}
.container10{
    background: url("https://images.pexels.com/photos/544115/pexels-photo-544115.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100vh;
  top: 0px;
  background-size: cover;
margin-top: 0px;
opacity: 0.5;
}


.container3{
    width: 100%;
    height: 18vh;
    background-color:#012a4a;
  position: relative;
}
.slidetxt h1{
    font-size: 70px;
text-align: center;
    color: black;
    padding-top: 10px;
    opacity: 1;
   width: 50%;
    animation: slide infinite 3s ;
    border: 2px solid black;
    position: relative;
  left:50%;
  top:50%;
  transform: translate(-50%);
  color: orangered;
  
}
@keyframes slide {
    0%{
        top: 200px;
    }
    50%{
        top: 100px;
    }
    100%{
        top: 200px;
    }
}
/*events*/
.container5{
    max-width: 100%;
  
    position: relative;
}
.container5 .gallerygrid{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
   margin-top: 20px;
}
.container5 .gallerygrid .eventimage img{
    width: 355px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    margin: 20px;
    -webkit-clip-path: circle(220px at left);
<<<<<<< HEAD
    clip-path: circle(220px at left);
=======
    clip-path:circle(220px at left);
>>>>>>> a1ffcc3568d43c3af31dd6015fb0df81c69d651b
 border: 2px solid black;
 -webkit-animation: show  2s ease-in-out;
 padding: 2px;
 
}
.container5 .gallerygrid .eventimage img:hover {
    clip-path: circle(100%);
    -webkit-clip-path:circle(100%);
    -webkit-animation: all 0.5s ease-in-out;
    animation: show linear;
}
.container5 .gallerygrid .eventname {
    position: absolute;
    width: 100%;
}

.container5 .gallerygrid .eventname h1{
  margin-left: 18px;
  background-color:orange;
    width: 352px;
    height: 265px;
    color: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
   cursor: pointer;
    flex: 1;
    text-transform: uppercase;
    font-size: 25px;
  position: relative;
  left: 5px;
} 
.container5 .gallerygrid .eventname h1:hover{
    z-index: 1;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0,0.5);
   transition:all 1s linear;
}
@media screen and (max-width:390px){
    .container5 .gallerygrid .eventname h1{
        width: 250px;
        position: relative;
    
        font-size: 15px;
        text-overflow: hidden;
    }
    .container5 .gallerygrid .eventname img{
        width: 250px;
    }
.container5 .gallerygrid{
    position: relative;
    left: 30px;
    right: 50px;
}
.container5 .gallerygrid .eventname h1:hover{
    font-size: 30px;
 
}
}
.container3{
   margin-top: 120px;
}
.container3 .icons {
 position: absolute;
 top: 50%;
left: 50%;
transform: translate(-50%);
}
.icons i{
    font-size: 25px;
    margin-left:10px ;
    border: 2px solid black;
    color:white;
    border-radius:100%;
    padding: 10px;
    background-color: orangered;
}
.icons i:hover{
    color: orangered;
    background-color:white;
}
.container3 h1{
    color: white;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width:576px) {
    .container3 h1{
        font-size: 12px;

    }
    .icons{
        margin-top: -5px;
    }
    .icons i
    {
        font-size: 18px;
    }
}
.container4{
   margin-top: 60px;
}
.container4 .textblock{
 padding: 50px ;
   
}
.container4 .textblock p{
    text-align: justify;
    font-size: 25px;
  
}
@media screen and (max-width:460px) {
    .container4 h1{
        font-size: 2em;
        color: white;
        width: 180px;
    }
}
/*articles page*/
.articlemain{
    width: 100%;
    position: relative;
    top: 80px;
    max-height:100vh;
    background: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
   
background-size:cover;
height: calc(100vh);
background-attachment:fixed;

background-position: center;
    z-index:0;
}
.overlay{
    background:#3f52e3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.8;
    height: 100vh;
}
.articlemain img{
    width: 100vw;
   max-height: 100vh;
}
.articlemain .intro h1,.articlemain .intro h2{
    font-size: 100px;
    color:white;
    font-weight: 1200;
    position: relative;
    opacity: 1;
   margin-left: 40px;
    z-index: 2;
    top:320px;
   
}
.articlemain .intro h2{
    font-size: 25px;
}

.articlemain .intro button{
   font-size: 25px;
   width: 200px;
  height: 50px;
  position: relative;
    top: 330px;
  z-index: 2;
margin-left: 40px;
color: white;
background-color: #012a4a;
border-style: none;
border-radius: 10px;
text-align: center;
}

.articlemain .intro button:hover{
    box-shadow:0px 10px 15px 0px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:648px) {
    .articlemain .intro h1{
        font-size: 60px;
    }
    
.articlemain .intro button{
    font-size:20px;
}
.articlemain .intro h2{
    font-size: 18px;
}
.articlemain .intro button{
    top:px;
}
}
.container11{
    width: 100%;
  
}

.container11 .grids{
    margin: 40px;
    margin-top: 150px;
    display: grid;
   grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    
    grid-gap:20px;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
.container11 .grids .card1 img{
    max-width: 100%;
    height: 300px;
}
.card1 .details1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1:hover img{
    transform: scale(1.05);
    box-shadow: 0px 5px 10px 0px grey;
}
.details1 .time{
    width: 50%;
}
.details1 .time h2{
    font-size: 20px;
    color: gray;
   margin-top: -10px;
    line-height: 30px;
   text-align: right;
   padding: 10px;
   align-self: flex-start;
  
}
.details1 .caption{
    color:black;
    font-size: 20px;
    text-align:justify;
    padding: 10px;
   width: 50%;
}
.details1 .caption a{
 text-decoration: none; 
 color: black; 
}
.details1 .caption a:hover{
    color:#3f52e3;
}
/*team page*/
.teamsection{
   /* background-image: linear-gradient(
    0deg, rgba(14,62,127,0.9), rgba(14,62,127,0.9)), url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/31a31b3afb7958688beeea7b/Untitled1.jpg");
  /* background: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/31a31b3afb7958688beeea7b/Untitled1.jpg");*/
    position: relative;
   top: 60px;
    width: 100%;
   background-size: cover;
    bottom: 0px;
}
.teampictures{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:50px;
    justify-content: space-around;
    align-items: center;
    margin: 0px 100px 100px 100px;
}
#lead{
  
    position: relative;
}
.teampictures img{
    width: 100%;
    height: 400px;
}
@media screen and (max-width:860px) {
    #lead{
      position: relative;
      grid-column: 1 / span 2;
    }
}
.teamdetails{
   padding: -20px;
}
.teamsection .teamhead h1{
    font-size: 60px;
    text-align: center;
    padding: 50px;
    color: black;
    font-weight: 400;
}
.teamdetails{
    background-color: white;
    position:relative;
    top: 0px;
    border: 0.1px solid black;
}
.teamdetails h1,.teamdetails h2{
    color: #0082e6;
    text-align: center;
    font-size: 25px;
}
.teamdetails h2{
    color: black;
}
/*contact page*/
#contact{

    position:relative;
    bottom: 0px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-business-technology-contact-address-hanging-decoration-technology-background-material-image_139405.jpg");
   
}
.contactdetails{
    /*display: flex;
    justify-content: space-between;
    align-items: center;*/
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    max-width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    background-color: white;
  flex-wrap: nowrap;
}
.contactdetails h1,.contactdetails h2{
    text-align: center;
}
.contactdetails i{
    font-size: 40px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 20px;
    align-items: center;
}
#contact1{
    text-align: center;
    margin: 25px;
}

@media screen and (max-width:668px){
    .contactdetails{
        flex-direction: column;
    }
    
    .contactdetails h1,.contactdetails h2{
        font-size:25px;
    }
}
@media screen and (max-width:948px){
    .contactdetails h1{
    }
}
@media screen and (max-width:360px) {
    .contactdetails h1{
       font-size:20px;
    }
    .contactdetails h2{
        font-size: 16px;
        text-align: center;
    }
}
@media screen and (min-width:1320px) {
    #contact{
        height: 100vh;
    }
}
#contactfooter{
    margin-top: 80px;
}